@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

.header-2{
    background-color: #095a94;
    padding: -10px;
    height: 145px;
    
}

.header-nav-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-link-2{
    padding-left: 200px;
    padding-right: 200px;
    margin-left: -700px;
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.block-1{
    color: black;
    width: 750px;
    padding-left: 120px;
    padding-right: 120px;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    border-radius: 35px;
    border: 2px solid black;
    height: 100px;
    margin-top: 125px;
    margin-left: 550px;
}

.block-2{
    color: black;
    width: 750px;
    padding-left: 120px;
    padding-right: 120px;
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    font-size: 30px;
    border-radius: 35px;
    height: 100px;
    margin-top: 150px;
    margin-left: 550px;
}

.zero-1{
    color: black;
    font-size: 50px;
    margin-top: 15px;
    font-weight: bold;
}

.zero-2{
    color: black;
    font-size: 50px;
    margin-top: 15px;
    font-weight: bold;
    margin: left;
}

.word{
    margin-top: 30px;
    color: black;
}

.img{
    margin-top: 20px;
    margin-left: 160px;
}

.header-logo-2 img{
    width: 100px;
    height: 100px;
}

.block-info-4{
    margin-top: 140px;
    width: 100%;
    height: 185px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #79BCE5;
}

.block{
    font-size: 20px;
    margin-left: 100px;
}

.img-vk{
    margin-left: 20px;
}

.telefon{
    font-size: 20px;
}

.zvonok{
    font-size: 20px;
}


