@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

.header-2{
    background-color: #095a94;
    height: 145px;
    
}

.header-nav-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-link-2{
    color: white;
    font-size: 20px;
    margin-left: -400px;
    text-decoration: none;
}

.img{
    margin-top: 20px;
    margin-left: 160px;
}

.header-logo-2 img{
    width: 100px;
    height: 100px;
}

.telefon{
    margin-top: 300px;
    width: 300px;
    height: 40px;
    margin-left: 1000px;
    border-radius: 10px;
}

.Name{
    margin-top: 100px;
    margin-left: 400px;   
}

.name{
    margin-top: -70px;
    width: 300px;
    height: 40px;
    border-radius: 10px;
    padding: 10px;
}

.Surname{
    margin-top: 80px;
    margin-left: 400px;
    
}

.surname{
    margin-top: -40px;
    width: 300px;
    height: 40px;
    border-radius: 10px;
    padding: 10px;
}

.Password{
    margin-top: 80px;
    margin-left: 400px;
    
}

.password{
    margin-top: -10px;
    width: 300px;
    height: 40px;
    border-radius: 10px;
    padding: 10px;
}

.Email{
    margin-top: 80px;
    margin-left: 400px;   
}

.email{
    margin-top: -40px;
    width: 300px;
    height: 40px;
    border-radius: 10px;
    padding: 10px;
}

.n{
    margin-top: -400px;
    margin-left: 400px;
}

.s{
    margin-top: 90px;
    margin-left: 400px;
}

.p{
    margin-top: 100px;
    margin-left: 400px;
}

.e{
    margin-top: 95px;
    margin-left: 400px; 
}


.t{
    margin-top: -70px;
    margin-left: 1150px;
}

.c{
    margin-left: 1150px;
    margin-top: 50px;
}

.Telefon{
    margin-top: -310px;
    margin-left: 150px;   
}

.telefon{
    margin-top: -300px;
    width: 300px;
    height: 40px;
    border-radius: 10px;
    padding: 10px;
}

.Gender{
    margin-left: 1200px;
    margin-top: 120px;
}

.gender1{
    width: 20px;
    border-radius: 25px;
}

.gender2{
    width: 20px;
    border-radius: 25px;
}

.City{
    margin-top: 20px;
    margin-left: 1150px;   
}

.city{
    margin-top: -250px;
    width: 300px;
    height: 40px;
    border-radius: 10px;
    padding: 10px;
}

.save{
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 160px;
    margin-left: 800px;
    width: 300px;
    background-color: #8d8a8a;
    border-radius: 10px;
}

.auto-p{
    color: white;
}

.block-info-4{
    margin-top: 93px;
    width: 100%;
    height: 151px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #79BCE5;
}

.zvonok{   
    font-size: 20px;
    margin-left: 120px;   
}

.tel{
    font-size: 20px;
    margin-left: 120px;
}

.telegram{
    margin-left: 120px;
}

.img-vk{
    margin-left: 30px;
}