@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

.header-nav-2{
    display: flex;
    align-items: center;
}

.header-logo-2 img{
    width: 180px;
}

.container-2{
    max-width: 1630px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

}

body{
    background-color: #095a94;
}

.header-2{
    background-color: #095a94;
    padding: 20px;
}

.menu{
    display: flex;
    justify-content: space-between;
}

.header-link-2{
    color: white;
    font-size: 20px;
    display: flex;
    margin-left: 200px;
    justify-content: space-between;
    text-decoration: none
}


.center-block{
    display: flex;
    padding-top: 30px;
    height: 650px;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    width: 1920px;
    margin-top: -15px;
}

.text-form{
    font-size: 20px;
    margin-top: 30px;
}

.Name{
    margin-top: -500px;
    margin-left: 810px;
}


.name{
    margin-top: -70px;
    width: 300px;
    height: 40px;
    border-radius: 10px;
}

.mail{
    width: 300px;
    height: 40px;
    border-radius: 10px;
}

.Mail{
    margin-top: 20px;
    margin-left: 810px;
}

.auto-p{
    color: white;
}

.auto{
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 30px;
    margin-left: 810px;
    width: 300px;
    background-color: #8d8a8a;
    border-radius: 10px;
}

.block{
    background-color: #104f7c;
}

.Gender{
    margin-top: 10px;
    margin-left: 810px;
}

.password{
    width: 300px;
    height: 40px;
    border-radius: 10px;
}

.Password{
    margin-top: 10px;
    margin-left: 810px;
}


.gender1{
    width: 20px;
    border-radius: 10px;
}

.gender2{
    width: 20px;
    border-radius: 10px;
}

.block{
    margin-left: 100px;
}

.text-down{
    margin-left: 770px;
}

.telefon{
    width: 300px;
    height: 40px;
    border-radius: 10px;
}

.Telefon{
    margin-top: 20px;
    margin-left: 810px;
}

.t-d{
    margin-top: 10px;
}