@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    
}

.container{
    max-width: 1630px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header{
    
    padding-top: 20px;
    filter: brightness(80%);

}

.img{
    margin-top: -15px;
    margin-left: -100px;
}

.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-link{
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    font-size: 20px;
    text-decoration: none;
}



.block-info{
    padding: 20px;
    padding-top: 140px;
    padding-bottom: 140px;
    background: url(img/beautiful-skyscape-daytime.jpg) center/cover no-repeat;
    margin-top: -210px;
    height: 700px;
}

.block-info-2{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 450px;
}

.block{
    font-size: 20px;
    margin-left: 100px;
}

.img-vk{
    font-size: 10px;

    margin-left: 20px;
}

.telegram{
    font-size: 10px;
}

.whatsapp{
    margin-left: 20px;
}

.block-info-4{
    margin-top: 60px;
    width: 100%;
    height: 185px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #79BCE5;
}


.info-p-1{
    color: white;
}

.block-info-text-p{
    color: white;
    font-weight: normal;
    margin-left: 100px;
}


.block-info-text{
    border-radius: 20px;
    width: 100%;
    font-size: 50px;
    padding-top: 70px;
    padding-bottom: 70px;
    font-weight: normal;
    text-align: left;
}

.block-info-text-1{
    margin-top: 100px;
    margin-left: 340px;
    color: rgb(255, 255, 255);
    font-weight: normal;
}

.text-center{
    text-align: center;
    font-size: 30px;
    font-weight: normal;
}

.block-info-p-1{
    width: 450px;
    background: #c7f3dd;
    border-radius: 30px;
    padding: 50px;
    text-align: center;
    font-size: 24px;
    color: black;
    margin-top: 60px;
    margin-left: 150px;
}

.block-info-p-2{
    width: 450px;
    background: #9bbaec;
    border-radius: 30px;
    padding: 50px;
    text-align: center;
    font-size: 24px;
    color: black;
    margin-top: -130px;
    margin-left: 730px;
}

h1{
    margin-top: 70px;
    margin-left: 150px;
    font-size: 30px;
}

.program{
    width: 500px;
    margin-left: 1250px;
    margin-top: -300px;
}

.block-info-p-3{
    width: 450px;
    background: #cca9f4;
    border-radius: 30px;
    padding: 50px;
    text-align: center;
    font-size: 24px;
    color: black;
    margin-top: -130px;
    margin-left: 1300px;
}

.block-info-p-4{
    width: 450px;
    background: #f5bbe0;
    border-radius: 30px;
    padding: 50px;
    text-align: center;
    font-size: 24px;
    color: black;
    margin-top: 50px;
    margin-left: 150px;
}

.block-info-p-5{
    width: 450px;
    background: #f1efef;
    border-radius: 30px;
    padding: 50px;
    text-align: center;
    font-size: 24px;
    color: black;
    margin-top: -130px;
    margin-left: 725px;
}

.block-info-p-6{
    width: 450px;
    background: #efc8a2;
    border-radius: 30px;
    padding: 50px;
    text-align: center;
    font-size: 24px;
    color: black;
    margin-top: -130px;
    margin-left: 1300px;
}

.block-info-p-7{
    width: 450px;
    background: #f1cdc4;
    border-radius: 30px;
    padding: 50px;
    text-align: center;
    font-size: 24px;
    color: black;
    margin-top: 50px;
    margin-left: 150px;
}

.block-info-p-8{
    width: 450px;
    background: #b7f8b1;
    border-radius: 30px;
    padding: 50px;
    text-align: center;
    font-size: 24px;
    color: black;
    margin-top: -130px;
    margin-left: 730px;
}

.block-info-p-9{
    width: 450px;
    background: #f5f2ae;
    border-radius: 30px;
    padding: 50px;
    text-align: center;
    font-size: 24px;
    color: black;
    margin-top: -130px;
    margin-left: 1300px;
}


.info-p-2{
    margin-bottom: 30px;    
}

.info-p-1{
    margin-bottom: 30px;
}

.header-logo img{
    width: 180px;
}

.block-info-4{
    margin-top: 100px;
}

.main{
    background-color: white;
}

.block-info-all{
    justify-content: center;
}

.hand{
    width: 600px;
    margin-left: 500px;
    margin-top: -240px;
}

.block-info-j{
    margin-left:150px;
    margin-top: 30px;
    font-size: 35px;
    background: #c8dded;
    width: 40%;
    border-radius: 30px;
    padding: 30px;
    height: 500px;
}

.img-program{
    margin-left: 800px;
    margin-top: -300px;
}

.block-info-j-2{
    background: #83b5e7;
    width: 500px;
    font-size: 20px;
    margin-left: 950px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    height: 550px;
    margin-top: -550px;
    text-align: center;
    border-radius: 20px;
}

.transparter{
    height: 10px;
    background-color: #83b5e7;
    margin-left: -460px;
    margin-bottom: -50px;
    font-size: 10px;
}



.transparter2{
    height: 10px;
    background-color: #83b5e7;
    margin-left: -430px;
    margin-bottom: -50px;
    font-size: 15px;
}

.transparter3{
    height: 10px;
    background-color: #83b5e7;
    margin-left: -385px;
    margin-bottom: -50px;
    font-size: 10px;
}

.transparter4{
    height: 10px;
    background-color: #83b5e7;
    margin-left: -362px;
    margin-bottom: -50px;
    font-size: 10px;
}

.transparter5{
    height: 10px;
    background-color: #67aff6;
    margin-left: -510px;
    margin-bottom: -50px;
    font-size: 20px;
}


.info-4{
    margin-top: 60px;
    color: white;
    height: 45px;
    width: 250px;
    background: #9D8585;
    border-radius: 10px;
    margin-left: 80px;
    padding-top: 10px;
    text-align: center;
}

.info-3{
    margin-top: 60px;
    color: white;
    height: 45px;
    width: 250px;
    background: #9D8585;
    border-radius: 10px;
    margin-left: 80px;
    padding-top: 10px;
}

.info-2{
    margin-top: 10px;
    height: 45px;
    margin-left: 80px;
    text-align: center;
    padding-top: 10px;
    color: white;
    background: #9D8585;
    border-radius: 10px;
    width: 250px;
    padding-top: 10px;
}

.info{
    color: white;
    background: #9D8585;
    border-radius: 10px;;
    width: 35%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 30px;

}

.header-2{
    background-color: #77bff2;
    padding-top: 20px;

}

.header-link-2{
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.text-form{
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 230px;
    font-size: 20px;
}

.Email{
    font-size: 25px;
    margin-top: 100px;
    margin-left: -279px;
    font-weight: bold;
}

.Password{
    font-size: 25px;
    margin-top: 220px;
    margin-left: -75px;
    font-weight: bold;
}

.auto{
    width: 250px;
    height: 50px;
    border-radius: 20px;
    margin-top: 300px;
    margin-left: -50px;
    background-color: #9D8585;
    color: white;
}

.block-info-text-p{
    font-weight: normal;
    margin-top: 60px;
}

@media (max-width:1024px){
    
}